@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.menu {
    padding: 10px 0;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    &__top-list {
        display: flex;
    }
    &__top-item {
        &:not(:last-child) {
            margin-right: 70px;
        }
    }
    &__contact-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__contact-phone {
        color: #0C4370;
        font-size: 26px;
    }
    &__bottom {
        background-color: #001029;
    }
    &__bottom-list {
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }
    &__bottom-item {
        color: #fff;
        &:not(:last-child) {
            margin-right: 70px;
        }
    }
}

.benefits {
    &__text {
        text-align: center;
        margin-bottom: 50px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 120px;
    }
    &__img {
        margin: 0 auto;
        margin-bottom: 18px;
    }
    &__description {
        max-width: 200px;
        font-size: 16px;
        text-align: center;
    }
}

.footer {
    background-color: #001029;
    padding: 48px 0 40px;
    color: #fff;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__box {
        max-width: 170px;
    }
    &__box:last-child {
        max-width: 300px;
    }
    &__contact {
        display: flex;
        margin-top: 30px;
    }
    &__phone {
        background-color: #0C4370;
        padding: 18px 26px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            top: 50%;
            right: 10%;
            transform: translateY(-50%);
            background-image: url("../images/icons/phone.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    &__email {
        background-color: #0159A0;
        padding: 15px;
        margin-right: 40px;
    }
    &__social {
        display: inline-block;
    }

}
