.services {
    &__text {
        margin-bottom: 50px;
    }

    &__text p {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .advantages {
        &__inner {
            display: flex;
            justify-content: space-between;
        }

        &__img {
            object-fit: contain;
            margin-right: 45px;
        }

        &__list {
            list-style: disc;
        }

        &__item {
            margin-bottom: 5px;
        }
    }

    .price {
        &__wrapper {
            margin-bottom: 50px;
        }

        &__table {
            border-collapse: collapse;
            text-align: center;

            th {
                padding: 5px;
                background-color: $accent;
                color: $white;
            }

            td {
                padding: 5px;
            }
        }
    }

    .services-benefits {
        &__list {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 30px;
            justify-items: center;
            margin-bottom: 30px;
        }

        &__item {
            max-width: 135px;
            text-align: center;
        }

        &__img {
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &__wrapper {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            margin-bottom: 50px;
        }

        &__content {
            max-width: 680px;
            padding-left: 50px;
            margin-right: 20px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 45px;
                height: 45px;
                top: 0;
                left: 0;
                background-image: url("../../images/services/icons/list.svg");
            }
        }

        &__link {
            padding: 10px 20px;
        }
    }

    .orders {
        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 6px;
        }

        &__link {
            display: flex;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 180px;
            height: 100%;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                opacity: 0;
                transition: all 0.3s;
            }

            &::before {
                width: 54px;
                height: 54px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url("../images/icons/zoom.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                z-index: 10;
            }

            &::after {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }

            &:hover::before,
            &:hover::after {
                opacity: 1;
            }
        }
    }


}

.specifications {
    background-color: #EBEBED;
    padding: 25px;
    margin: 40px 0;

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 40px;
    }

    &__item {
        max-width: 215px;
    }

    &__number {
        display: block;
        font-weight: 700;
        color: $accent;
        margin-bottom: 10px;

        span {
            font-size: 32px;
        }
    }
}

@media (max-width: 992px) {
    .services {
        .advantages {
            &__inner {
                flex-direction: column;
                align-items: center;
            }

            &__img {
                margin-right: 0;
                margin-bottom: 50px;
            }
        }
        .services-benefits {

            &__content {
                max-width: 500px;
            }
        }
    }

    .specifications {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }

}

@media (max-width: 880px) {
    .services {
        .price {
            &__wrapper {
                overflow-x: scroll;
            }
        }

        .services-benefits__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .services {
        .advantages {
            &__img {
                height: 80%;
            }

            &__list {
                padding-left: 20px;
            }
        }
        .services-benefits {
            &__wrapper {
                flex-direction: column;
                align-items: center;
            }
            &__content {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
        .orders {
            &__list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .specifications {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

}

@media (max-width: 576px) {
    .services {
        .services-benefits {
            &__list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 480px) {

    .services {
        .advantages {
            &__img {
                margin-bottom: 20px;
            }
        }
        .orders {
            &__list {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .specifications {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}